@model SpecialHire.Models.BookingQuoteInfoModel
@{
    ViewBag.IsNavigationEnabled = "No";
    Layout = "";
}
<html>
<head>
</head>
<body>
    <div style="min-width:900px;max-width:930px;margin:10px auto;font-family:Calibri;font-weight:normal;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tbody>
                <tr style="font-size:15px;">
                    <td colspan="2" style="vertical-align:middle;padding:20px;padding-left:0px;float:left;">
                        <table>
                            <tr>
                                <td><img style="width:250px;" src="~/Images/@Model.CompanyLogo" alt="CompanyLogo" class="CToWUd"></td>
                                <td>
                                    @{
                                        var compAddress = @Model.CompanyNameAddress.Replace("<br>", "|").Split('|');
                                    }

                                    @foreach (var str in compAddress)
                                    {
                                            <b>
                                                @str
                                            </b><br />
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="2" style="padding:20px 25px;vertical-align:bottom;padding:20px 25px">
                        <table cellpadding="3" cellspacing="5" style="float: right;">
                            <tr><td>Quote Number:</td><td>@Model.AlternateID</td></tr>
                            <tr><td>Date:</td><td>@Model.ModifiedOn.Value.ToString("dd-MMMM-yyyy")</td></tr>
                            <tr><td>Expire:</td><td>@Model.QuoteValidTill.ToString("dd-MMMM-yyyy")@*Monday,February 1, 2016*@</td></tr>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="4" style="font-size: 24px;text-align:center;"><b>Quotation</b></td></tr>
                <tr>
                    <td colspan="4" style="padding:10px 25px;border-top:solid 5px black;border-bottom:solid 5px black;vertical-align:middle">
                        <b>Contact Information:</b>
                        <table>
                            <tr>
                                <td>Name:</td>
                                <td>@Model.FirstName</td>
                                <td style="width: 100px;"></td>
                                <td>Company:</td>
                                <td>@Model.CompanyName</td>
                            </tr>
                            <tr>
                                <td>Tel:</td>
                                <td>@Model.TelephoneNumber</td>
                                <td style="width: 100px;"></td>
                                <td>Address:</td>
                                <td>@Model.Address</td>
                            </tr>
                            <tr>
                                <td>Cell:</td>
                                <td>@Model.CellNumber</td>
                                <td style="width: 100px;"></td>
                                <td>Postal:</td>
                                <td>@Model.PostalCode</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>@Model.EmailAddress</td>
                                <td style="width: 100px;"></td>
                                <td>Fax:</td>
                                <td>@Model.FaxNumber</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td style="width: 100px;"></td>
                                <td>Company Tel:</td>
                                <td>@Model.CompTelephoneNumber</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;padding:10px 25px;vertical-align:middle">
            <tbody>
                <tr>
                    <td colspan="4" style="padding-bottom: 10px;"><b>Bus Hire:</b></td>
                </tr>
                <tr>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>Departure Date:</b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.PickUpDate.ToString("dd-MMMM-yyyy")</td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>Departure Time:</b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.PickUpTime</td>
                </tr>
                <tr>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>Return Date:</b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.ReturnDate.ToString("dd-MMMM-yyyy")</td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>Return Time:</b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.ReturnTime</td>
                </tr>
                <tr>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>From:</b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.FromLocation</td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                </tr>
                <tr>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>To:</b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.ToLocation</td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                </tr>
                <tr>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>Event Information:</b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.ExtraInformation</td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                </tr>
                <tr>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>Number of Passengers: </b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.Passengers</td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                </tr>
                <tr>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>Number of Busses: </b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.NumberOfBusses</td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                </tr>
                <tr>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"><b>Number of Trailers: </b></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;">@Model.NumberOfTrailers</td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                    <td style="border-bottom: thin solid;padding-bottom: 5px;padding-top:5px;"></td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tbody>
                <tr>
                    <td colspan="4" style="padding:10px 25px;border-top:solid 5px black;border-bottom:solid 5px black;vertical-align:top;height: 80px;">
                        <b>Additional Information:</b>@Model.ExtraInformation
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding:10px 25px;border-bottom:solid 5px black;vertical-align:top;height:100px;">
                        <b>Payment Terms:</b><br />
                        @{
                            var pdfPaymentTerms = @Model.PDFPaymentTerms.Replace("<br>", "|").Split('|');
                        }
                        @foreach (var str in pdfPaymentTerms)
                        { @str<br /> }
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding:10px 25px;border-bottom:solid 5px black;vertical-align:middle">
                        <b>Banking Details:</b>
                        <table>
                            @{
                                var tax = (Model.QuotationValue * 14.5) / 100;
                                var quotationTaxValue = Model.QuotationValue + tax;
                            }
                            <tr>
                                <td colspan="2">Standard Bank</td>
                                <td style="width: 450px;"></td>
                                <td>@*SubTotal:*@</td>
                                <td>@*@Model.QuotationValue*@</td>
                            </tr>
                            <tr>
                                <td>Branch:</td>
                                <td>5th Sreet Sandton</td>
                                <td style="width: 450px;"></td>
                                <td>@*Discount:*@</td>
                                <td>@*No*@</td>
                            </tr>
                            <tr>
                                <td>Branch Code:</td>
                                <td>019205</td>
                                <td style="width: 450px;"></td>
                                <td>@*VAT:*@</td>
                                <td>@*R@(tax)*@</td>
                            </tr>
                            <tr>
                                <td>Account Number:</td>
                                <td>043005632</td>
                                <td style="width: 450px;"></td>
                                <td>Total:</td>
                                @*<td>R@(quotationTaxValue)</td>*@
                                <td>R@(Model.QuotationValue)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding:0px 25px;vertical-align:middle">
                        <!--<b>Powered by Ebus Supplies</b>-->
                        Powered by Ebus Supplies
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>