@model EbusDataProvider.Driver
@{
    ViewBag.Title = "Driver Information";
    ViewBag.IsNavigationEnabled = "Yes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                Bus
                <small> Create Driver</small>
            </h2>
            @*<ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="active">BookingQuote</li>
                </ol>*@
        </div>
    </div>
    @using (Html.BeginForm("Index", "Driver", FormMethod.Post, new { id = "frmDriverInformation" }))
    {
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color: #5bc0de;">
                    <a data-toggle="collapse" href="#pnlSearch" style="color:white;text-decoration:none;">Search Drivers</a>
                </div>
                <div id="pnlSearch" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon">Driver Name</div>
                                        <input type="text" class="form-control" placeholder="Driver Name" id="txtSearchDriverName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon">Driver Number</div>
                                        <input type="text" class="form-control" placeholder="Driver Number" id="txtSearchDriverNumber" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <button type="button" class="btn btn-info" id="btnSearch">Search&nbsp;<i class="fa fa-1x fa-search"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                                        <button type="button" class="btn btn-danger" id="btnClear">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon">Driver Name<font style="color:red">*</font></div>
                            @Html.TextBoxFor(m => m.DriverName, new { id = "txtDriverName", @class = "form-control", maxlength = "200", placeholder = "Driver Name", required = "true" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon">Driver Number<font style="color:red">*</font></div>
                            @Html.TextBoxFor(m => m.DriverNumber, new { id = "txtDriverNumber", @class = "form-control", maxlength = "200", placeholder = "Driver Number", required = "true" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon">Employee Number<font style="color:red">*</font></div>
                            @Html.TextBoxFor(m => m.EmployeeNumber, new { id = "txtEmployeeNumber", @class = "form-control", maxlength = "200", required = "true", placeholder = "Employee Number" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon">Contact Number<font style="color:red">*</font></div>
                            @Html.TextBoxFor(m => m.ContactNumber, new { id = "txtContactNumber", @class = "form-control", maxlength = "500", placeholder = "Contact Number", required = "true" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon">Special Hire Driver</div>
                            @Html.CheckBoxFor(m => m.IsSpecialHireDriver, new { id = "chkIsSpecialHireDriver", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="display:none" id="divDriverStatus">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon">Active</div>
                            @Html.CheckBoxFor(m => m.Status, new { id = "chkStatus", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.ID, new { ID = "hdnDriverID" })
                    <button type="submit" class="btn btn-info" id="btnSave"><i class="fa fa-1x fa-save"></i>&nbsp;Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" id="btnClear"><i class="fa fa-1x fa-close"></i>&nbsp;Clear</button>
                </div>
            </div>
        </div>
    }
</div>
@Html.Partial("_SearchResults")
<script type="text/javascript">
    $(document).ready(function () {
        RemoveHighlightedCssOnFocus();
        ClearFormValues();
        SearchDrivers();
        $("button#btnClear").click(function () {
            ClearFormValues();
            $("div#divDriverStatus").hide();
        });
        $("button#btnSave").click(function () { return CheckMandatoryFields("frmDriverInformation", "div") });

        $("input#chkStatus").change(function () {
            if (checkDependency()) {
                $("input#chkStatus").prop("checked", "checked");
                alert("Cannot be In-Active as it is being used in a Job");
                return false;
            }
        });
    });

    function checkDependency() {
        var driverID = $("#hdnDriverID").val();
        var response = false;
        if (!$("input#chkStatus").is(":checked")) {
            $.ajax({
                async: false,
                url: '@Url.Action("CheckDependency", "Driver")',
                type: 'Post',
                data: JSON.stringify({ DriverID: driverID }),
                dataType: 'json',
                contentType: 'application/json',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    response = result;
                }
            }).done(function (result) {
            });
        }
        return response;
    }

    function SearchDrivers() {
        $("button#btnSearch").click(function () {
            var DriverName = $("#txtSearchDriverName").val();
            var DriverNumber = $("#txtSearchDriverNumber").val();
            var tableBody = $("table#tblSearchResults").find("tbody");
            var rows = "";
            if (DriverName == "" && DriverNumber == "") {
                alert("Please enter search criteria!!");
                $("#txtSearchDriverName").focus();
                return false;
            }
            else {
                $.ajax({
                    async: false,
                    url: '@Url.Action("SearchDrivers", "Driver")',
                    type: 'Post',
                    data: JSON.stringify({ DriverName: DriverName, DriverNumber: DriverNumber}),
                    dataType: 'json',
                    contentType: 'application/json',
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);
                    },
                    success: function (result) {
                        //Now Process the data
                        tableBody.html();
                        if (result.length == 0) {
                            alert("No records found for the selected criteria!!");
                        }
                        else {
                            $(result).each(function (index) {
                                var CurrentItem = this;
                                rows = rows + "<tr><td><a id='lnkEditDriver' href='javascript:void(0);' value=" + CurrentItem.ID + " style='text-decoration: none;cursor: pointer;'><span><i class='fa fa-pencil-square-o'></i> </span>Edit</a></td>";
                                rows = rows + "<td><span id='lblDriverName'>" + CurrentItem.DriverName + "</span></td>";
                                rows = rows + "<td><span id='lblDriverNumber'>" + CurrentItem.DriverNumber + "</span><input type='hidden' id='hdnStatus' value='" + CurrentItem.Status + "'/></td>";
                                rows = rows + "<td><span id='lblEmployeeNumber'>" + CurrentItem.EmployeeNumber + "</span><input type='hidden' id='hdnIsSpecialHireDriver' value='" + CurrentItem.IsSpecialHireDriver + "'/></td>";
                                rows = rows + "<td><span id='lblContactNumber'>" + CurrentItem.ContactNumber + "</span></td>";
                            });

                            tableBody.html("").html(rows);

                            $('div#searchResults').modal('show');
                        }
                    }
                }).done(function (result) {
                    return false;
                });
            }
        });
    }


    $(document).on("click", "a#lnkEditDriver", function () {
        debugger;
        var driverID = $(this).attr("value");
        var row = $(this).parent().parent();
        //ClearFormValues("frmBusInformation");

        $("#hdnDriverID").val(driverID);
        $("#txtDriverName").val(row.find("#lblDriverName").text());
        $("#txtDriverNumber").val(row.find("#lblDriverNumber").text());
        $("#txtEmployeeNumber").val(row.find("#lblEmployeeNumber").text());
        $("#txtContactNumber").val(row.find("#lblContactNumber").text());

        if (row.find("#hdnIsSpecialHireDriver").val() == "true") {
            $("#chkIsSpecialHireDriver").prop("checked", "true");
        } else { $("#chkIsSpecialHireDriver").removeProp("checked"); }

        if (row.find("#hdnStatus").val() == "true") {
            $("#chkStatus").prop("checked", "true");
        } else { $("#chkStatus").removeProp("checked"); }

        $("div#divDriverStatus").show();
        $('div#searchResults').modal('hide');
    });
</script>
